services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: ${walletdb}
      POSTGRES_USER: ${postgres}
      POSTGRES_PASSWORD: ${postgres}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  wallet-service:
    build: .
    container_name: wallet-service
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
    ports:
      - "${SERVER_PORT}:8080"

volumes:
  postgres_data: